@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden; 

}
.ali {
    border: none;
    outline: none;
    cursor: pointer; 
    position: relative;
    bottom: 10px;
    left: 120px;
}
a:hover{
    color: blue;

}
.card-title:hover{
    color: blue;
}

.navbar a {
    text-decoration: none;

}
   li {
    list-style: none;
    color: black;
    font-weight: bold;
    margin-bottom: 45px;  
}
.logo img{
    height: 60px;
    position: absolute;
    left: 60px;
    bottom: 10px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow:10px 2px 10px black ;
    color: #fff;
    position: relative;
    position: fixed;
   }
   .nav-links .ali {
    font-size: 20px;
    color: black;
    
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
}
   .menu li {
    padding: 5px 14px;
}
/* .on{
    display: flex;
    align-items: center;
} */
#myDIV{
    margin-left: -1500px;
}
 .on1 .do{
    color: #3b96cb;
    background-color: white;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 5px;
    border-radius: 8px;
    padding: 10px;
    padding-left:15px ;
    padding-right:15px ;
    border: 2px blue solid;
} 
 .on1 .do:hover{
    background-color: #3b96cb;
    color: white;
    transform: scale(1.1);
    transition: 0.5s ease;
} 
.on1 .do h5{
    color: black;
}


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: black;
    transition: 0.10s;
    z-index: 89px;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#1784c5;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    transition: 0.5 ease;
    z-index: 89px;
   }
   /* .menu li:hover {
    display: inline-block;
    background-color:whitesmoke;
    transition: 0.3s ease;
   } */
   .menu li + li {
    margin-top: 12px;
   }
   .menu li{
    margin-bottom: 0%;
    margin-left:1270px;
   }
   .div0{
    position: relative;
    right: 55px;
    top: 60px;
    
   }
   .navbar{
    height: 70px;
   }
   /* .div0 i:hover{
    display: inline-block;
    background-color:whitesmoke;
    transition: .3s ease;
    border-radius: 8px ;
    
   } */
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
    cursor: pointer;
    font-size: 30px;
    z-index: 89px;
    padding: 5px;
    border-radius: 50%;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
   }
   div{
    margin-bottom: 20px;
    
   }
 
   footer{
    width: 100%;
    height: 1000px;
    background-color: #021a33;
   }

   footer p{
    margin-left: -285px;
    margin-top: -10px;
   }

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: white;
    box-shadow: 5px 6px 10px rgba(172, 160, 160, 0.712);
    margin-bottom: 10px;
}

.h{
    color: black;
    font-weight: bold;
    margin-top: 25px;


}
.div0{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-bottom: 90px;
    /* font-size: 25px; */
    


}
.div0 i{
    color: black;
    font-size: 25px;
    margin-right: -50px;
    padding: 5px 14px;

}
.exit{
    position: absolute;
    right: 233px;
    bottom: 25px;
    /* margin-left: 80px; */
    border-radius: 5px ;


}
.love{
    position: absolute;
    right: 180px;
    bottom: 25px;
    border-radius: 5px ;
}
.profile{
    position: absolute;
    right: 127px;
    bottom: 25px;
    border-radius: 5px;

}
.menu h1{
    font-size: 30px;
    color: black;
    font-weight: bold;

}
.Home{
    background-color: #FBEBEB;
    padding: 5px 14px;
    border-radius: 50px ;
}
section{
    margin-top: 50px;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}


.card-btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px;
  width: 100%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  z-index: 100;
}
p{
  color: black;
  font-weight: bold;
  font-size: 23px;
}
p:hover{
  color: blue;
  border-bottom: 2px solid blue ;
}


.product-card:hover .card-btn {
  opacity: 1;
}


.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
footer{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #021a33;
}
footer .pxc{
    color: white;
    position: absolute;
    top: 40px;
    left: 450px ;
    font-size: 15px;
}

